<div style="margin-top: 150px margin-left:10px">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <label class="control-label col-sm-3" style="font-family:Georgia; font-size:16px" for="user">Código o Nombre del Equipo:</label>
  <input class="col-sm-6 col-sm-offset-0" type="text" id="myInput" onkeyup="myFunction()" title="Escriba un nombre o código de equipo...">
</div>
<br>
<br>
<div class="container">
<h2>Listado de Equipos Disponibles</h2>
  <table class="table table-striped" id="myTable">
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Serial</th>
      <th>Fecha</th>
      <th>Marca</th>
      <th>Modelo</th>
      <th>Descripción</th>
    </tr>
    <% @equipo.each do |equipo| %>
      <tr>
        <td><%= equipo.id %></td>
        <td><%= equipo.nombre %></td>
        <td><%= equipo.serial %></td>
        <td><%= equipo.fecha %></td>
        <td><%= equipo.marca %></td>
        <td><%= equipo.modelo %></td>
        <td><%= equipo.descripcion %></td>
      </tr>
    <% end %>
  </table>
</div>

<script>
  function myFunction() {
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
}
</script>
