<!DOCTYPE html>
<html>
  <head>
    <title>TecnoRenting</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  </head>
  <body>
    <!--Creación de la barra de navegación-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
    <a class="navbar-brand">TecnoRenting</a>
  </div>

  <ul class="nav navbar-nav">
    <% if signed_in? %>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Equipo
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to "Consultar", equipos_path %></li>
        <li><%= link_to "Crear", new_equipo_path%></li>
      </ul>
    </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Usuarios
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to "Consultar", users_path %></li>
          <li><%= link_to "Crear", new_user_path %></li>
        </ul>
        </li>
  </ul>
      <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "<span class='glyphicon glyphicon-user'></span> Cerrar Sesión ".html_safe, logout_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "<span class='glyphicon glyphicon-log-in'></span> Iniciar Sesión ".html_safe, login_path, method: :new %></li>
      <li><%= link_to "Regístrate", new_user_path %></li>
    <% end %>
  </ul>
</div>
</nav>
<% if signed_in? %>
  <div align="right" class="col-sm-offset-1"><h4>Hola <%=current_user.name%></h4></div>
<% end %>
<dt><h1 style="font-family:Dosis;" class="col-sm-4 col-sm-offset-0"></h1></dt>
<% if flash[:notice] %>
  <div class="col-sm-6 col-sm-offset-3">
    <div class="alert alert-success alert-dismissible"><%= flash[:notice] %>
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </div>
  </div>
<% end %>
          <%= yield %>
  </body>
</html>
